# configurações de projetos em IDE's.
.idea/
nbproject/
.vscode/

# arquivos de configuração
config/config.ini
public/index.php
public/default.php

# diretório de bibliotecas
composer.lock
package-lock.json
vendor/
node_modules/